body {
    background-image: url("planoDeFundo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralizar {
    display: flex; 
    justify-self: center;
}

.caixa-perguntas {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2.5%;
    border-radius: 20px;
    width: 30%;
    height: 400px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.caixa-perguntas:hover{
    background-color: rgba(255, 255, 255, 1.0);
    transform: scale(1.05);
}

.caixa-itermédio{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.caixa-perguntas h2 {
    margin-bottom: 15px;
    color: black;
}

.caixa-menor{
    background-color: black;
    padding: 7.5px;
    border-radius: 10px;
    width: 90%;
    height: 80%;  
    transition: all 0.35s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixa-menor:hover {
    background-color: rgb(168, 168, 20);
    transform: scale(1.075);
}

.caixa-menor-resposta{
    background-color: black;
    padding: 7.5px;
    border-radius: 10px;
    width: 100px;
    height: 30px;  
    transition: all 0.35s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixa-menor-resposta:hover {
    transform: scale(1.075);
}

.selecionado {
    background-color: yellow;
}

.botaoIniciar {
    display: flex;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 40%;
    height: 20%;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
}

.botaoIniciar:hover {
    transform: scale(1.075);
    color: black;
    background-color: yellow;
}