.centralizar {
    display: flex; 
    justify-self: center;
}

.caixa-perguntas {
    background-color: rgba(255, 255, 255, 1.0);
    padding: 2.5%;
    border-radius: 20px;
    width: 60%;
    height: 400px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa-perguntas:hover{
    transform: scale(1.05);
}

.caixa-itermédio{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.caixa-perguntas h2 {
    margin-bottom: 15px;
    color: black;
}

.caixa-menor{
    background-color: black;
    padding: 7.5px;
    border-radius: 10px;
    width: 90%;
    height: 80%;  
    transition: all 0.35s;
    text-align: center;
    justify-content: center;
}

.caixa-menor:hover {
    transform: scale(1.075);
}

.caixa-menor-resposta{
    background-color: black;
    padding: 7.5px;
    border-radius: 10px;
    width: 100px;
    height: 30px;  
    transition: all 0.35s;
    text-align: center;
    justify-content: center;
}

.caixa-menor-resposta:hover {
    transform: scale(1.075);
}

.selecionado {
    background-color: yellow !important;
}